[General]
disabledTrayIcon=true
drawColor=#ff0000
drawThickness=0
saveAfterCopyPath="/home/{{ user }}/Pictures"
savePath="/home/{{ user }}/Pictures"
showHelp=false
showSidePanelButton=false
startupLaunch=true
